@charset "utf-8";
/* CSS Document */

/* Universal Styles */

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: #242f44;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header Section */


header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 77px;
  background-color: #FF7E00;
  border-bottom: 1px solid red ;
  align-items: center;
}



nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 6px 1rem;
  font-size: 2.5rem;
}

/* Main Section */

#store {
  height: 800px;
  width: auto;
  
  padding-top: 70px;
}

.item {
  padding: 8px;
  color: #ff8000;
}

.item img {
  height: 410px;
  margin: 20px;
  display: block;
}


/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  transition-duration:400ms;

}
.topnav a :hover{
	background-color: white;
}
h2{
	color: white;
}
